<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About</h2>
    <p>A group of Quotes and Other Quotes</p>
 </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>