<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="/dashboard.css">

</head>

<body>
    <div class="page">
        <aside class="menu">
            <a href="" class="logo">Logo</a>
            <a href="" class="menu-item active">
                <p class="material-icons icon">dashboard</p>
                <p class="text">Dashboard</p>
            </a>


            <a href="/users/record" class="menu-item">
                <p class="material-icons icon">touch_app</p>
                <p class="text">New Article</p>
            </a>
            <!-- <a href="" class="menu-item">
                <p class="material-icons icon">theaters</p>
                <p class="text">Theaters</p>
            </a> -->
        </aside>
        <section class="main">
            <h2>Your Articles</h2>
            <ul>
                <li>
                    <div>Article Name</div>
                    <div>Article Category</div>
                    <div>Article Reads</div>
                    <div>Article Shares</div>
                    <div>Actions</div>
                </li>

                <li>
                    <div>Over Flow</div>
                    <div>Self-Esteem</div>
                    <div>300</div>
                    <div>10</div>
                    <div>
                        <span class="material-icons icon">visibility</span>
                        <span class="material-icons icon">edit</span>
                       <span class="material-icons icon">delete</span>
                    </div>
                </li>
                <li>
                    <div>Over Flow</div>
                    <div>Self-Esteem</div>
                    <div>300</div>
                    <div>10</div>
                    <div>
                        <span class="material-icons icon">visibility</span>
                        <span class="material-icons icon">edit</span>
                       <span class="material-icons icon">delete</span>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</body>

</html>